.about{ 

height: auto;
width: 22.5%; 
padding: 0px;
padding-top:10px;
background-color: black; 
margin-left:2%;
float:left;

/* outer shadows  (note the rgba is red, green, blue, alpha) */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px; 
border-radius: 7px;


/* gradients */
background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, #f6f6f6), color-stop(100%, #f6f6f6)); 
background: -moz-linear-gradient(top, white 0%, white 55%, #cccccc 130%); 
}

.gc{
	width:30%;
padding: 0px;
padding-top:10px;
background-color: black; 
margin-left:2%;
float:left;

-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, #f6f6f6), color-stop(100%, black)); 
background: -moz-linear-gradient(top, white 0%, white 55%, #cccccc 130%); 
}

.gc a{
	color:white;
	text-decoration:none !important;
}

.gc p{
	margin:0 5px;
	padding:0;
  transition: all .7s ease;
  text-align:left;
  font-size:13px;
  font-family:inherit;
}

.photo3 img {
  
  width: 100%;
  transition: all .7s ease;
  padding: 0
}


.photo3 {
  width: 95%;
}

.photo3 {
  display: inline-block;
  margin-right: 0px; /* kill space between inline-block */
  margin-bottom: -4px;
  position: relative;
  overflow: hidden;
  background: #272727;
}


.photo3:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .4;
}

.sport .photo3:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  opacity: .4;

}

.title:hover span {
transition: all 1s ease;
opacity:1;
}

.title span {
  position: absolute;
  top: 45%;
  left:2%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 100%;
  opacity: 0;
}